<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言板</title>
</head>
<body>
    <h1>留言板</h1>
    <form action="/post" method="post">
        <label for="author">作者:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="content">內容:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <button type="submit">發布</button>
    </form>
    <h2>留言列表</h2>
    <ul>
        {% for message in messages %}
            <li><strong>{{ message.author }}</strong>: {{ message.content }}</li>
      <img src="{{ url_for('static', filename='Miffy_photo_2024-04-21 12.45.53.jepg') }}" alt="圖片">

        {% endfor %}
    </ul>
</body>
</html>
